.speech-bubble-container {
    display: flex;
    margin-bottom: 15px;
}

.speech-bubble-container.right {
    justify-content: flex-end;
}

.speech-bubble-container.left {
    justify-content: flex-start;
}

.speech-bubble, .tail{
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid;
}

.speech-bubble {
    padding: 5px 25px;
    font-size: 14pt;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.speech-bubble.right {
    border-bottom-right-radius: 0px;
    color: white;
}

.speech-bubble.right, .tail.top.right, .tail.base.right, .tail.top.right::after {
    background-color: rgb(71, 139, 199);
}


.speech-bubble.left {
    border-bottom-left-radius: 0px;
    color: black;
}

.speech-bubble.left, .tail.top.left, .tail.base.left, .tail.top.left::after {
    background-color: rgb(237, 240, 239);
}

.tail-container, .tail {
    width: 20px;
}

.tail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1;
}

.tail {
    height: 20px;
    background-color: white;
}

.tail.base.right {
    border-left: 0;
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    z-index: -2;
}

.tail.base.left {
    border-right: 0;
    margin-left: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: -2;
}

.tail.top.right {
    border-top: 0;
    border-right: 0;
    border-left: 3px solid;
    background-color: rgb(71, 139, 199, 0);
    width: 50%;
    height: 10px;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -3px;
    margin-left: -3px;

    position: relative;
}

.tail.top.left {
    border-top: 0;
    border-left: 0;
    border-right: 3px solid;
    background-color: rgb(237, 240, 239, 0);
    width: 50%;
    height: 10px;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -3px;
    margin-left: 13px;

    position: relative;
}

.tail.top.right::after {
    position: relative;
    display: flex;
    content: "";
    width: 10px;
    height:10px;
    transform: skew(45deg, 0deg);
    margin-left: -7px;

    position: relative;
    z-index: -1;
}

.tail.top.left::after {
    position: relative;
    display: flex;
    content: "";
    width: 10px;
    height:10px;
    transform: skew(-45deg, 0deg);
    margin-left: 7px;
    background-color: #edf0ef;

    position: relative;
    z-index: -1;
}